footer.footer
    ul
        li
            span &copy; #{new Date().getFullYear()} #{siteName} by 
            a(href="https://github.com/minapark127") Mina Park
        li
            a(href="https://github.com/minapark127")
                i.fab.fa-github-square
            a(href="https://www.linkedin.com/in/mina-p-1a04571a9/")
                i.fab.fa-linkedin
    