.social-login
    button.social-login__GH
        a(href=routes.github)
            span
                i.fab.fa-github
            | Continue with Github
    button.social-login__FB
        a
            span
                i.fab.fa-facebook
            | Continue with Facebook