.social-login
    button.social-login__GH
        span
            i.fab.fa-github
        | Continue with Github
    button.social-login__FB
        span
            i.fab.fa-facebook
        | Continue with Facebook