.videoPlayer {
  position: relative;
  display: flex;
  video {
    width: 100%;
  }
  &__controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 25px;
    color: rgba($color: $white, $alpha: 0.9);
    &__column {
      .videoControl-Btn {
        width: 35px;
        i {
          font-size: 20px;
          &:hover {
            color: rgba($color: $white, $alpha: 0.7);
            cursor: pointer;
          }
        }
      }
      &__volume {
        display: flex;
        input[type="range"] {
          cursor: pointer;
        }
        .volumeBarHidden {
          display: none;
        }
        .volumeBarShow {
          display: inline-block;
        }
      }
      &__time {
        display: flex;
        span:first-child {
          text-align: right;
        }
        span:nth-child(2) {
          margin: 0 7px;
          text-align: center;
        }
        span:last-child {
          text-align: left;
        }
        span:not(:nth-child(2)) {
          min-width: 68px;
        }
      }
      &:first-child {
        display: flex;
        align-items: center;
      }
      &:last-child {
        text-align: right;
      }
    }
    &:hover {
      background-color: rgba($color: $black, $alpha: 0.5);
    }
  }
}
