extends layouts/main

block content
    .form__container
        form(action=`/user${routes.changePw}`, method="post")
            h2.form__container__heading 
                i.fas.fa-unlock
                span Change Password
            input(type="password", name="oldPasswod", placeholder="Current Password", required)
            input(type="password", name="newPassword", placeholder="New Password", required)
            input(type="password", name="newPassword1", placeholder="Verify New Password", required)
            input(type="submit", value="Change Password")