mixin videoPlayer(video = {})
    .videoPlayer#js-videoPlayer&attributes(attributes)
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__controls-column
                span#js-playBtn
                    i.fas.fa-play
                span
                    i.fas.fa-volume-up
                span 00:00 / 00:00
            .videoPlayer__controls-column
                span
                    i.fas.fa-expand
            
