mixin videoPlayer(video = {})
    .videoPlayer#js-videoPlayer&attributes(attributes)
        video(src=`/${video.src}`)
        .videoPlayer__controls
            .videoPlayer__controls-column
                span#js-playBtn
                    i.fas.fa-play
                div
                    span#js-volumeBtn
                        i.fas.fa-volume-up
                    input(type="range" id="js-volumeBar" name="volumeBar" min="0" max="1" step="0.05" value="1")
                span
                    span#js-timeBar-current 00:00
                    span  / 
                    span#js-timeBar-total 00:00
            .videoPlayer__controls-column
                span#js-fullScreenBtn
                    i.fas.fa-expand
            
