$red: #ff0102;
$darkRed: #e50914;
$white: #fffdfe;
$bgGrey: #f4f4f4;
$borderGrey: #bfbfbf;
$black: #333333;
$ghPurple: #6f42c1;
$fbBlue: #4267b2;
$darkBlue: #006699;

$greyBorderShadow: 0px 0px 18px 0px rgba(217, 217, 217, 1);
