.form__container {
  width: 400px;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include responsive(mobile) {
    width: 95%;
  }
  form {
    width: 100%;
    padding: 40px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: $greyBorderShadow;
    input:not([type="file"]),
    textarea,
    .form__container__fileUpload {
      width: 90%;
      padding: 10px 20px;
      margin-bottom: 15px;
      font-size: 18px;
      border: none;
      border-radius: 5px;
      box-shadow: 0 1px 10px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      background-color: $white;
      @include responsive(tablet) {
        font-size: 16px;
      }
    }
    textarea {
      border: $borderGrey;
      max-width: 90%;
    }
    input[type="submit"] {
      all: unset;
      margin-top: 10px;
      font-size: 18px;
      cursor: pointer;
      width: 90%;
      padding: 10px 0;
      text-align: center;
      border-radius: 5px;
      @include coloredButton($darkRed);
      box-shadow: 0 1px 15px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
      @include responsive(tablet) {
        font-size: 16px;
      }
    }
  }
  &__fileUpload {
    display: flex;
    flex-direction: column;
    label {
      font-weight: 300;
      font-size: 16px;
      @include responsive(tablet) {
        font-size: 14px;
      }
    }
    input {
      margin-top: 10px;
    }
  }
  &__heading {
    width: 90%;
    color: $black;
    font-size: 20px;
    margin-bottom: 30px;
    i {
      margin-right: 10px;
    }
    span {
      text-decoration: underline;
    }
    @include responsive(tablet) {
      font-size: 18px;
    }
  }
  &__link {
    width: 90%;
    margin-top: 30px;
    &-delete {
      @include whiteButton($darkRed);
    }
    &-changePw {
      @include whiteButton($darkBlue);
    }
  }
}
