.social-login {
  margin-top: 50px;
  width: 90%;
  display: flex;
  flex-direction: column;
  button {
    color: $white;
    transition: background-color 0.2s linear;
    border: none;
    padding: 10px 0;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    a {
      display: block;
      width: 100%;
      span {
        i {
          margin-right: 10px;
        }
      }
      &:visited {
        color: inherit;
      }
    }
    @include responsive(tablet) {
      font-size: 16px;
    }
  }
  .social-login__GH {
    background-color: $ghPurple;
    &:hover {
      @include buttonDarker($ghPurple);
    }
  }
  .social-login__FB {
    background-color: $fbBlue;
    &:hover {
      @include buttonDarker($fbBlue);
    }
  }
}
