.search__header {
  h1 {
    font-size: 21px;
    margin-bottom: 50px;
  }
  h2 {
    font-size: 16px;
    color: rgba($color: $black, $alpha: 0.7);
    text-align: center;
  }
}
.search__videos {
  width: 100%;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, minmax(265px, 1fr));
  overflow-y: scroll;
  .videoBlock__thumbnail {
    max-height: 150px;
  }
}
