.videoDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  & > * {
    width: 100%;
    @media screen and (min-width: 769px) {
      max-width: 768px;
    }
  }
  &__player {
    margin-bottom: 25px;
  }
  &__info {
    display: flex;
    flex-direction: column;
    &-edit {
      align-self: flex-end;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      padding: 10px;
      border-radius: 5px;
      background-color: $darkRed;
      color: $white;
      transition: background-color 0.2s linear;
      i {
        margin-right: 10px;
      }
      span {
        font-size: 16px;
      }
      &:hover {
        @include buttonDarker($darkRed);
      }
    }
    &-title {
      font-size: 25px;
      margin-bottom: 25px;
      @include responsive(tablet) {
        font-size: 18px;
        font-weight: 600;
      }
    }
    &-views {
      font-size: 18px;
      color: lighten($color: $black, $amount: 20);
      padding-bottom: 20px;
      border-bottom: 0.5px solid lighten($color: $borderGrey, $amount: 10);
      @include responsive(tablet) {
        font-size: 14px;
      }
    }
    &-creator {
      padding-top: 20px;
      display: flex;
      align-items: center;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
      }
      a {
        font-size: 18px;
        font-weight: 600;
        &:visited {
          color: inherit;
        }
        &:hover {
          color: lighten($color: $black, $amount: 20);
        }
        @include responsive(tablet) {
          font-size: 16px;
        }
      }
    }
    &-description {
      font-size: 18px;
      padding: 20px 0;
      border-bottom: 0.5px solid lighten($color: $borderGrey, $amount: 10);
      @include responsive(tablet) {
        font-size: 16px;
      }
    }
    &-comments {
      padding: 40px 0;
      font-size: 20px;
      @include responsive(tablet) {
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  &__comments {
    &__form {
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 15px;
      }
      input {
        width: 90%;
        padding: 10px 15px;
        font-size: 18px;
        background-color: inherit;
        border-bottom: 1px solid $borderGrey;
        @include responsive(tablet) {
          font-size: 16px;
          width: 75%;
          border-radius: 0px;
        }
      }
    }
    &__comments {
      li {
        display: flex;
        position: relative;
        padding: 23px 10px;
        &:not(:last-child) {
          border-bottom: 0.5px solid lighten($color: $borderGrey, $amount: 10);
        }
        .comment__avatar {
          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 15px;
          }
        }
        .comment__info {
          font-size: 16px;
          span {
            display: inline-block;
          }
          &__name {
            padding-bottom: 15px;
            font-weight: 600;
            margin-right: 9px;
            @include responsive(tablet) {
              font-size: 14px;
              font-weight: 500;
            }
          }
          &__createdAt {
            font-size: 13px;
            margin-bottom: 10px;
            color: lighten($color: $black, $amount: 20);
            @include responsive(tablet) {
              font-size: 12px;
            }
          }
        }
        .comment__btn {
          width: 20px;
          position: absolute;
          right: 10px;
          top: 21px;
          button {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border: none;
            background-color: inherit;
            &:hover {
              color: $red;
            }
            i {
              font-size: 18px;
              @include responsive(tablet) {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}
